body {
background-color: black;
background-image: url(../adrian/prism.png)
}
.mime {
    width: 100%;
    background-color: gray;
   <!-- background-image: url(../adrian/J0099188.JPG) -->
}
button {
    width: 200px;
    text-decoration: none;
    align: center;
    height: 50px;
    margin-left: 55px;
    color: white;
    border: none;
}
.mime button > a {
    color: white;
}
p {
    font-style: unset;
    font-size: 35px
}
.img-circle{
    border-radius: 5%
}
a {
    text-decoration: none;
}